body {
    direction: rtl;
    font-family: 'Almarai', sans-serif; /* Use Almarai font for Arabic text */
    text-align: center;
    background-color: #f8f9fa; /* Light background color */
    margin: 0;
    padding: 0;
  }
  
  .container {
    font-family: 'Almarai', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: 'Almarai', sans-serif;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
  }
  
  .canvas {
    font-family: 'Almarai', sans-serif;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .buttons {
    font-family: 'Almarai', sans-serif;
    margin-top: 20px;
  }
  
  button {
    font-family: 'Almarai', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #006233; /* Blue button background color */
    color: #fff; /* White button text color */
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    font-family: 'Almarai', sans-serif;
    background-color: #006233; /* Darker blue on hover */
  }
  
  #result {
    font-family: 'Almarai', sans-serif;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: green; /* Green for correct prediction */
  }

  #new-section {
    font-family: 'Almarai', sans-serif;
    text-align: right; /* Align text to the right */
    }
  

  /* Style for the image placeholder */
#image-placeholder {
  font-family: 'Almarai', sans-serif;
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  border: 2px solid black; /* Border style */
  float: left; /* Float to the left */
  margin-right: 20px; /* Add margin to separate from text */
  }